<manifest package="com.min.applocker">
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <application android:label="AppLocker by Min">
        <service android:name=".AppLockService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config"/>
        </service>
        <activity android:name=".LockActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>